In [1]:
import yfinance as yf


prices = yf.Ticker('AAPL').history('5y')
prices = prices.rename(columns=str.lower).rename_axis(index=str.lower)
prices

,open,high,low,close,volume,dividends,stock splits
date,,,,,,,
2019-12-23 00:00:00-05:00,67.992233,68.893852,67.953453,68.833260,98572000,0.0,0.0
2019-12-24 00:00:00-05:00,69.000503,69.048981,68.571510,68.898705,48478800,0.0,0.0
2019-12-26 00:00:00-05:00,69.031990,70.282623,69.002907,70.265656,93121200,0.0,0.0
2019-12-27 00:00:00-05:00,70.558937,71.249695,69.831825,70.239006,146266000,0.0,0.0
2019-12-30 00:00:00-05:00,70.156608,70.939468,69.128959,70.655891,144114400,0.0,0.0
...,...,...,...,...,...,...,...
2024-12-16 00:00:00-05:00,247.990005,251.380005,247.649994,251.039993,51694800,0.0,0.0
2024-12-17 00:00:00-05:00,250.080002,253.830002,249.779999,253.479996,51356400,0.0,0.0
2024-12-18 00:00:00-05:00,252.160004,254.279999,247.740005,248.050003,56774100,0.0,0.0
2024-12-19 00:00:00-05:00,247.500000,252.000000,247.089996,249.789993,60882300,0.0,0.0
2024-12-20 00:00:00-05:00,248.119995,255.000000,246.300003,254.490005,125429724,0.0,0.0

In [2]:
from mintalib.indicators import EMA, SMA, ROC, RSI, EVAL, LOG

# compute and append indicators to prices
result = prices.assign(
    sma50 = SMA(50),
    sma200 = SMA(200),
    rsi = RSI(14),
    slope = ROC(1) @ EMA(20) @ LOG(),
    uptrend = EVAL("sma50 > sma200")
)

result

,open,high,low,close,volume,dividends,stock splits,sma50,sma200,rsi,slope,uptrend
date,,,,,,,,,,,,
2019-12-23 00:00:00-05:00,67.992233,68.893852,67.953453,68.833260,98572000,0.0,0.0,NaN,NaN,NaN,NaN,0.0
2019-12-24 00:00:00-05:00,69.000503,69.048981,68.571510,68.898705,48478800,0.0,0.0,NaN,NaN,NaN,NaN,0.0
2019-12-26 00:00:00-05:00,69.031990,70.282623,69.002907,70.265656,93121200,0.0,0.0,NaN,NaN,NaN,NaN,0.0
2019-12-27 00:00:00-05:00,70.558937,71.249695,69.831825,70.239006,146266000,0.0,0.0,NaN,NaN,NaN,NaN,0.0
2019-12-30 00:00:00-05:00,70.156608,70.939468,69.128959,70.655891,144114400,0.0,0.0,NaN,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-12-16 00:00:00-05:00,247.990005,251.380005,247.649994,251.039993,51694800,0.0,0.0,232.705213,208.933951,78.747864,0.000802,1.0
2024-12-17 00:00:00-05:00,250.080002,253.830002,249.779999,253.479996,51356400,0.0,0.0,233.345886,209.329007,80.923057,0.000893,1.0
2024-12-18 00:00:00-05:00,252.160004,254.279999,247.740005,248.050003,56774100,0.0,0.0,233.796448,209.721724,64.983034,0.000432,1.0
2024-12-19 00:00:00-05:00,247.500000,252.000000,247.089996,249.789993,60882300,0.0,0.0,234.206494,210.128123,67.211810,0.000512,1.0
2024-12-20 00:00:00-05:00,248.119995,255.000000,246.300003,254.490005,125429724,0.0,0.0,234.720528,210.558619,72.334153,0.000786,1.0