In [92]:
import polars as pl
from polars import col

import yfinance as yf

prices = yf.Ticker('AAPL').history('5y')
prices = prices.rename(columns=str.lower).rename_axis(index=str.lower)
prices = pl.from_pandas(prices, include_index=True)
prices



# Links
# https://docs.pola.rs/user-guide/expressions/user-defined-python-functions/#combining-multiple-column-values

shape: (1_258, 8)
┌─────────────┬────────────┬────────────┬────────────┬────────────┬───────────┬───────────┬────────┐
│ date        ┆ open       ┆ high       ┆ low        ┆ close      ┆ volume    ┆ dividends ┆ stock  │
│ ---         ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ splits │
│ datetime[ns ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ i64       ┆ f64       ┆ ---    │
│ , America/N ┆            ┆            ┆            ┆            ┆           ┆           ┆ f64    │
│ ew_York]    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
╞═════════════╪════════════╪════════════╪════════════╪════════════╪═══════════╪═══════════╪════════╡
│ 2019-12-23  ┆ 67.992226  ┆ 68.893845  ┆ 67.953445  ┆ 68.833252  ┆ 98572000  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2019-12-24  ┆ 69.000481  ┆ 69.048958  ┆ 68.571487  ┆ 68.898682  ┆ 48478800  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2019-12-26  ┆ 69.031983  ┆ 70.282616  ┆ 69.002899  ┆ 70.265648  ┆ 93121200  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2019-12-27  ┆ 70.558945  ┆ 71.249703  ┆ 69.831833  ┆ 70.239014  ┆ 146266000 ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2019-12-30  ┆ 70.156578  ┆ 70.939438  ┆ 69.128929  ┆ 70.655861  ┆ 144114400 ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ …           ┆ …          ┆ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …      │
│ 2024-12-16  ┆ 247.990005 ┆ 251.380005 ┆ 247.649994 ┆ 251.039993 ┆ 51694800  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2024-12-17  ┆ 250.080002 ┆ 253.830002 ┆ 249.779999 ┆ 253.479996 ┆ 51356400  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2024-12-18  ┆ 252.160004 ┆ 254.279999 ┆ 247.740005 ┆ 248.050003 ┆ 56774100  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2024-12-19  ┆ 247.5      ┆ 252.0      ┆ 247.089996 ┆ 249.789993 ┆ 60882300  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2024-12-20  ┆ 248.039993 ┆ 255.0      ┆ 245.690002 ┆ 254.490005 ┆ 146890100 ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
└─────────────┴────────────┴────────────┴────────────┴────────────┴───────────┴───────────┴────────┘

In [93]:
from mintalib.indicators import SMA, ATR, MACD

result = prices.with_columns(
    sma20 = SMA(20) @ col('close'),
    sma50 = SMA(50) @ col('close'),
)

result

shape: (1_258, 10)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ date      ┆ open      ┆ high      ┆ low       ┆ … ┆ dividends ┆ stock     ┆ sma20     ┆ sma50    │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ splits    ┆ ---       ┆ ---      │
│ datetime[ ┆ f64       ┆ f64       ┆ f64       ┆   ┆ f64       ┆ ---       ┆ f64       ┆ f64      │
│ ns, Ameri ┆           ┆           ┆           ┆   ┆           ┆ f64       ┆           ┆          │
│ ca/New_Yo ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ rk]       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 2019-12-2 ┆ 67.992226 ┆ 68.893845 ┆ 67.953445 ┆ … ┆ 0.0       ┆ 0.0       ┆ NaN       ┆ NaN      │
│ 3         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ EST       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2019-12-2 ┆ 69.000481 ┆ 69.048958 ┆ 68.571487 ┆ … ┆ 0.0       ┆ 0.0       ┆ NaN       ┆ NaN      │
│ 4         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ EST       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2019-12-2 ┆ 69.031983 ┆ 70.282616 ┆ 69.002899 ┆ … ┆ 0.0       ┆ 0.0       ┆ NaN       ┆ NaN      │
│ 6         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ EST       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2019-12-2 ┆ 70.558945 ┆ 71.249703 ┆ 69.831833 ┆ … ┆ 0.0       ┆ 0.0       ┆ NaN       ┆ NaN      │
│ 7         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ EST       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2019-12-3 ┆ 70.156578 ┆ 70.939438 ┆ 69.128929 ┆ … ┆ 0.0       ┆ 0.0       ┆ NaN       ┆ NaN      │
│ 0         ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ EST       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 2024-12-1 ┆ 247.99000 ┆ 251.38000 ┆ 247.64999 ┆ … ┆ 0.0       ┆ 0.0       ┆ 239.15749 ┆ 232.7052 │
│ 6         ┆ 5         ┆ 5         ┆ 4         ┆   ┆           ┆           ┆ 9         ┆ 13       │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ EST       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2024-12-1 ┆ 250.08000 ┆ 253.83000 ┆ 249.77999 ┆ … ┆ 0.0       ┆ 0.0       ┆ 240.43049 ┆ 233.3458 │
│ 7         ┆ 2         ┆ 2         ┆ 9         ┆   ┆           ┆           ┆ 9         ┆ 86       │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ EST       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2024-12-1 ┆ 252.16000 ┆ 254.27999 ┆ 247.74000 ┆ … ┆ 0.0       ┆ 0.0       ┆ 241.41899 ┆ 233.7964 │
│ 8         ┆ 4         ┆ 9         ┆ 5         ┆   ┆           ┆           ┆ 9         ┆ 48       │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ EST       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2024-12-1 ┆ 247.5     ┆ 252.0     ┆ 247.08999 ┆ … ┆ 0.0       ┆ 0.0       ┆ 242.45849 ┆ 234.2064 │
│ 9         ┆           ┆           ┆ 6         ┆   ┆           ┆           ┆ 8         ┆ 94       │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ EST       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 2024-12-2 ┆ 248.03999 ┆ 255.0     ┆ 245.69000 ┆ … ┆ 0.0       ┆ 0.0       ┆ 243.75699 ┆ 234.7205 │
│ 0         ┆ 3         ┆           ┆ 2         ┆   ┆           ┆           ┆ 8         ┆ 28       │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ EST       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [94]:
SMA(20) @ prices

shape: (1_258,)
Series: '' [f64]
[
	NaN
	NaN
	NaN
	NaN
	NaN
	…
	239.157499
	240.430499
	241.418999
	242.458498
	243.756998
]

In [95]:
atr = ATR(14) @ prices
atr

shape: (1_258,)
Series: '' [f64]
[
	NaN
	NaN
	NaN
	NaN
	NaN
	…
	3.572153
	3.606285
	3.815836
	3.89399
	4.280848
]

In [96]:
hasattr(atr, 'to_struct')

False

In [97]:


macd = MACD() @ prices
macd

shape: (1_258, 3)
┌──────────┬────────────┬──────────┐
│ macd     ┆ macdsignal ┆ macdhist │
│ ---      ┆ ---        ┆ ---      │
│ f64      ┆ f64        ┆ f64      │
╞══════════╪════════════╪══════════╡
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ …        ┆ …          ┆ …        │
│ 5.427631 ┆ 4.436547   ┆ 0.991084 │
│ 5.746874 ┆ 4.698612   ┆ 1.048262 │
│ 5.498339 ┆ 4.858558   ┆ 0.639782 │
│ 5.379762 ┆ 4.962798   ┆ 0.416964 │
│ 5.600482 ┆ 5.090335   ┆ 0.510146 │
└──────────┴────────────┴──────────┘

In [98]:
hasattr(macd, 'to_struct')

True

In [99]:


res = MACD() @ prices
res.to_struct()

shape: (1_258,)
Series: '' [struct[3]]
[
	{NaN,NaN,NaN}
	{NaN,NaN,NaN}
	{NaN,NaN,NaN}
	{NaN,NaN,NaN}
	{NaN,NaN,NaN}
	…
	{5.427631,4.436547,0.991084}
	{5.746874,4.698612,1.048262}
	{5.498339,4.858558,0.639782}
	{5.379762,4.962798,0.416964}
	{5.600482,5.090335,0.510146}
]

In [124]:
result = prices.select(
    macd = MACD() @ pl.col("close"),
)
result

shape: (1_258, 1)
┌──────────────────────────────┐
│ macd                         │
│ ---                          │
│ struct[3]                    │
╞══════════════════════════════╡
│ {NaN,NaN,NaN}                │
│ {NaN,NaN,NaN}                │
│ {NaN,NaN,NaN}                │
│ {NaN,NaN,NaN}                │
│ {NaN,NaN,NaN}                │
│ …                            │
│ {5.427631,4.436547,0.991084} │
│ {5.746874,4.698612,1.048262} │
│ {5.498339,4.858558,0.639782} │
│ {5.379762,4.962798,0.416964} │
│ {5.600482,5.090335,0.510146} │
└──────────────────────────────┘

In [101]:

prices.select(pl.struct(pl.all()))

shape: (1_258, 1)
┌─────────────────────────────────┐
│ date                            │
│ ---                             │
│ struct[8]                       │
╞═════════════════════════════════╡
│ {2019-12-23 00:00:00 EST,67.99… │
│ {2019-12-24 00:00:00 EST,69.00… │
│ {2019-12-26 00:00:00 EST,69.03… │
│ {2019-12-27 00:00:00 EST,70.55… │
│ {2019-12-30 00:00:00 EST,70.15… │
│ …                               │
│ {2024-12-16 00:00:00 EST,247.9… │
│ {2024-12-17 00:00:00 EST,250.0… │
│ {2024-12-18 00:00:00 EST,252.1… │
│ {2024-12-19 00:00:00 EST,247.5… │
│ {2024-12-20 00:00:00 EST,248.0… │
└─────────────────────────────────┘

In [102]:
def myfunc(df):
    print("myfunc", df)
    return df

res = prices.select(
    pl.all().pipe(myfunc)
)

res

myfunc *

shape: (1_258, 8)
┌─────────────┬────────────┬────────────┬────────────┬────────────┬───────────┬───────────┬────────┐
│ date        ┆ open       ┆ high       ┆ low        ┆ close      ┆ volume    ┆ dividends ┆ stock  │
│ ---         ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---       ┆ ---       ┆ splits │
│ datetime[ns ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ i64       ┆ f64       ┆ ---    │
│ , America/N ┆            ┆            ┆            ┆            ┆           ┆           ┆ f64    │
│ ew_York]    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
╞═════════════╪════════════╪════════════╪════════════╪════════════╪═══════════╪═══════════╪════════╡
│ 2019-12-23  ┆ 67.992226  ┆ 68.893845  ┆ 67.953445  ┆ 68.833252  ┆ 98572000  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2019-12-24  ┆ 69.000481  ┆ 69.048958  ┆ 68.571487  ┆ 68.898682  ┆ 48478800  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2019-12-26  ┆ 69.031983  ┆ 70.282616  ┆ 69.002899  ┆ 70.265648  ┆ 93121200  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2019-12-27  ┆ 70.558945  ┆ 71.249703  ┆ 69.831833  ┆ 70.239014  ┆ 146266000 ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2019-12-30  ┆ 70.156578  ┆ 70.939438  ┆ 69.128929  ┆ 70.655861  ┆ 144114400 ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ …           ┆ …          ┆ …          ┆ …          ┆ …          ┆ …         ┆ …         ┆ …      │
│ 2024-12-16  ┆ 247.990005 ┆ 251.380005 ┆ 247.649994 ┆ 251.039993 ┆ 51694800  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2024-12-17  ┆ 250.080002 ┆ 253.830002 ┆ 249.779999 ┆ 253.479996 ┆ 51356400  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2024-12-18  ┆ 252.160004 ┆ 254.279999 ┆ 247.740005 ┆ 248.050003 ┆ 56774100  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2024-12-19  ┆ 247.5      ┆ 252.0      ┆ 247.089996 ┆ 249.789993 ┆ 60882300  ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ 2024-12-20  ┆ 248.039993 ┆ 255.0      ┆ 245.690002 ┆ 254.490005 ┆ 146890100 ┆ 0.0       ┆ 0.0    │
│ 00:00:00    ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
│ EST         ┆            ┆            ┆            ┆            ┆           ┆           ┆        │
└─────────────┴────────────┴────────────┴────────────┴────────────┴───────────┴───────────┴────────┘

In [103]:
e = pl.all()
e

In [104]:
repr(e)

"<Expr ['*'] at 0x132376C70>"

In [53]:
str(e)

'*'

In [54]:
pl.col("asdf")

In [55]:
str(pl.col("asdf"))

'col("asdf")'

In [56]:
repr(pl.col("asdf"))

'<Expr [\'col("asdf")\'] at 0x1376B9EE0>'

In [58]:
pl.all().to_struc()

AttributeError: 'Expr' object has no attribute 'to_struc'

In [60]:
prices.select(pl.struct("*"))

shape: (1_258, 1)
┌─────────────────────────────────┐
│ date                            │
│ ---                             │
│ struct[8]                       │
╞═════════════════════════════════╡
│ {2019-12-23 00:00:00 EST,67.99… │
│ {2019-12-24 00:00:00 EST,69.00… │
│ {2019-12-26 00:00:00 EST,69.03… │
│ {2019-12-27 00:00:00 EST,70.55… │
│ {2019-12-30 00:00:00 EST,70.15… │
│ …                               │
│ {2024-12-16 00:00:00 EST,247.9… │
│ {2024-12-17 00:00:00 EST,250.0… │
│ {2024-12-18 00:00:00 EST,252.1… │
│ {2024-12-19 00:00:00 EST,247.5… │
│ {2024-12-20 00:00:00 EST,248.0… │
└─────────────────────────────────┘

In [61]:
pl.struct("*")

In [63]:
pl.struct(pl.all())

In [65]:
expr = pl.all()
expr.__module__

'polars.expr.expr'

In [ ]:

prices.select(
    pl.struct(pl.all()).map_batches(ATR(14))
)

ComputeError: TypeError: cannot select elements using Sequence with elements of type 'str'

In [116]:
ps = prices.to_struct()
ps

shape: (1_258,)
Series: '' [struct[8]]
[
	{2019-12-23 00:00:00 EST,67.992226,68.893845,67.953445,68.833252,98572000,0.0,0.0}
	{2019-12-24 00:00:00 EST,69.000481,69.048958,68.571487,68.898682,48478800,0.0,0.0}
	{2019-12-26 00:00:00 EST,69.031983,70.282616,69.002899,70.265648,93121200,0.0,0.0}
	{2019-12-27 00:00:00 EST,70.558945,71.249703,69.831833,70.239014,146266000,0.0,0.0}
	{2019-12-30 00:00:00 EST,70.156578,70.939438,69.128929,70.655861,144114400,0.0,0.0}
	…
	{2024-12-16 00:00:00 EST,247.990005,251.380005,247.649994,251.039993,51694800,0.0,0.0}
	{2024-12-17 00:00:00 EST,250.080002,253.830002,249.779999,253.479996,51356400,0.0,0.0}
	{2024-12-18 00:00:00 EST,252.160004,254.279999,247.740005,248.050003,56774100,0.0,0.0}
	{2024-12-19 00:00:00 EST,247.5,252.0,247.089996,249.789993,60882300,0.0,0.0}
	{2024-12-20 00:00:00 EST,248.039993,255.0,245.690002,254.490005,146890100,0.0,0.0}
]

In [117]:
ps.struct["open"]

shape: (1_258,)
Series: 'open' [f64]
[
	67.992226
	69.000481
	69.031983
	70.558945
	70.156578
	…
	247.990005
	250.080002
	252.160004
	247.5
	248.039993
]

In [118]:
hasattr(prices, 'struct')

False

In [119]:
hasattr(ps, 'struct')

True

In [120]:
hasattr(prices, 'columns')

True

In [121]:
hasattr(ps, 'columns')

False

In [123]:
hasattr(ps, 'struct')

True