In [7]:
from mintalib.samples import sample_prices

from mintalib.indicators import SMA, EMA, CMF, DMI, ADX, PDI, MDI

In [8]:
prices = sample_prices()
prices

                  open        high         low       close     volume
date
1980-12-12    0.098943    0.099373    0.098943    0.098943  469033600
1980-12-15    0.094211    0.094211    0.093781    0.093781  175884800
1980-12-16    0.087328    0.087328    0.086898    0.086898  105728000
1980-12-17    0.089049    0.089479    0.089049    0.089049   86441600
1980-12-18    0.091630    0.092061    0.091630    0.091630   73449600
...                ...         ...         ...         ...        ...
2024-10-15  233.610001  237.490005  232.369995  233.850006   64751400
2024-10-16  231.600006  232.119995  229.839996  231.779999   34082200
2024-10-17  233.429993  233.850006  230.520004  232.149994   32993800
2024-10-18  236.179993  236.179993  234.009995  235.000000   46431500
2024-10-21  234.449997  236.850006  234.449997  236.479996   36220800

[11056 rows x 5 columns]

In [9]:
res = CMF() @ prices
res

date
1980-12-12    NaN
1980-12-15    NaN
1980-12-16    NaN
1980-12-17    NaN
1980-12-18    NaN
             ...
2024-10-15    inf
2024-10-16    inf
2024-10-17    inf
2024-10-18    inf
2024-10-21    inf
Length: 11056, dtype: float64

In [10]:
DMI() @ prices

                  adx        pdi        mdi
date
1980-12-12        NaN        NaN        NaN
1980-12-15        NaN        NaN        NaN
1980-12-16        NaN        NaN        NaN
1980-12-17        NaN        NaN        NaN
1980-12-18        NaN        NaN        NaN
...               ...        ...        ...
2024-10-15  12.009004  32.883452  17.112874
2024-10-16  12.658720  30.781031  20.052579
2024-10-17  13.573155  31.926080  18.968033
2024-10-18  14.817008  33.630876  17.719031
2024-10-21  16.082653  33.399355  17.001056

[11056 rows x 3 columns]

In [11]:
ADX() @ prices

date
1980-12-12          NaN
1980-12-15          NaN
1980-12-16          NaN
1980-12-17          NaN
1980-12-18          NaN
                ...
2024-10-15    12.009004
2024-10-16    12.658720
2024-10-17    13.573155
2024-10-18    14.817008
2024-10-21    16.082653
Length: 11056, dtype: float64

In [12]:
SMA(20).alias("sma") @ prices

date
1980-12-12           NaN
1980-12-15           NaN
1980-12-16           NaN
1980-12-17           NaN
1980-12-18           NaN
                 ...
2024-10-15    227.524000
2024-10-16    228.078500
2024-10-17    228.242500
2024-10-18    228.582500
2024-10-21    229.082999
Name: sma, Length: 11056, dtype: float64