# Polars Experiments

In [ ]:
import  numpy as np
import polars as pl
from polars import col

from mintalib.core import calc_sma, calc_atr, calc_macd
from mintalib.indicators import SMA, ATR, MACD

In [135]:
from mintalib.samples import sample_prices

prices = sample_prices()
prices = pl.from_pandas(prices, include_index=True)
prices

# Links
# https://docs.pola.rs/user-guide/expressions/user-defined-python-functions/#combining-multiple-column-values

shape: (11_056, 6)
┌─────────────────────┬────────────┬────────────┬────────────┬────────────┬───────────┐
│ date                ┆ open       ┆ high       ┆ low        ┆ close      ┆ volume    │
│ ---                 ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---       │
│ datetime[ns]        ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ i64       │
╞═════════════════════╪════════════╪════════════╪════════════╪════════════╪═══════════╡
│ 1980-12-12 00:00:00 ┆ 0.098943   ┆ 0.099373   ┆ 0.098943   ┆ 0.098943   ┆ 469033600 │
│ 1980-12-15 00:00:00 ┆ 0.094211   ┆ 0.094211   ┆ 0.093781   ┆ 0.093781   ┆ 175884800 │
│ 1980-12-16 00:00:00 ┆ 0.087328   ┆ 0.087328   ┆ 0.086898   ┆ 0.086898   ┆ 105728000 │
│ 1980-12-17 00:00:00 ┆ 0.089049   ┆ 0.089479   ┆ 0.089049   ┆ 0.089049   ┆ 86441600  │
│ 1980-12-18 00:00:00 ┆ 0.09163    ┆ 0.092061   ┆ 0.09163    ┆ 0.09163    ┆ 73449600  │
│ …                   ┆ …          ┆ …          ┆ …          ┆ …          ┆ …         │
│ 2024-10-15 00:00:00 ┆ 233.610001 ┆ 237.490005 ┆ 232.369995 ┆ 233.850006 ┆ 64751400  │
│ 2024-10-16 00:00:00 ┆ 231.600006 ┆ 232.119995 ┆ 229.839996 ┆ 231.779999 ┆ 34082200  │
│ 2024-10-17 00:00:00 ┆ 233.429993 ┆ 233.850006 ┆ 230.520004 ┆ 232.149994 ┆ 32993800  │
│ 2024-10-18 00:00:00 ┆ 236.179993 ┆ 236.179993 ┆ 234.009995 ┆ 235.0      ┆ 46431500  │
│ 2024-10-21 00:00:00 ┆ 234.449997 ┆ 236.850006 ┆ 234.449997 ┆ 236.479996 ┆ 36220800  │
└─────────────────────┴────────────┴────────────┴────────────┴────────────┴───────────┘

In [136]:
pstruct = prices.to_struct("prices")
pstruct

shape: (11_056,)
Series: 'prices' [struct[6]]
[
	{1980-12-12 00:00:00,0.098943,0.099373,0.098943,0.098943,469033600}
	{1980-12-15 00:00:00,0.094211,0.094211,0.093781,0.093781,175884800}
	{1980-12-16 00:00:00,0.087328,0.087328,0.086898,0.086898,105728000}
	{1980-12-17 00:00:00,0.089049,0.089479,0.089049,0.089049,86441600}
	{1980-12-18 00:00:00,0.09163,0.092061,0.09163,0.09163,73449600}
	…
	{2024-10-15 00:00:00,233.610001,237.490005,232.369995,233.850006,64751400}
	{2024-10-16 00:00:00,231.600006,232.119995,229.839996,231.779999,34082200}
	{2024-10-17 00:00:00,233.429993,233.850006,230.520004,232.149994,32993800}
	{2024-10-18 00:00:00,236.179993,236.179993,234.009995,235.0,46431500}
	{2024-10-21 00:00:00,234.449997,236.850006,234.449997,236.479996,36220800}
]

In [137]:
from polars.datatypes import Struct, Float64


macd_type = Struct({'macd': Float64, 'macdsignal': Float64, 'macdhist': Float64})

def my_sma(series, period: int = 20):
    print(type(series).__name__)
    return calc_sma(series, period)

def my_atr(prices, period: int = 14):
    print(type(prices).__name__)
    if hasattr(prices, 'dtype') and prices.dtype.__class__.__name__ == 'Struct':
        print("struct ...")
        prices = prices.struct
    return calc_atr(prices, period)

def my_macd(series):
    print(type(series).__name__)
    result = calc_macd(series, wrap=True)
    if hasattr(result, 'to_struct'):
        return result.to_struct("macd")



df = prices.with_columns(
    col('close').map_batches(my_sma).alias("sma"),
    col('close').map_batches(my_macd).alias("macd"),
    pl.struct(pl.all()).map_batches(my_atr).alias("atr")
#    col('close').map_batches(my_macd)
#    sma = col('close').map_batches(my_sma)
#     atr = pl.struct(pl.all()).map_batches(my_atr)
#    macd = col('close').map_batches(my_macd)
#    atr = pl.all().map_batches(my_atr)
#    MACD() @ col("close").map_batches(calc_macd),
#    atr = ATR() @ pl.all()
#    sma = col('close').map_batches(SMA(20))
#    atr = ATR() @ pl.all()
#    sma = SMA(20) @ pl.all()
#    sma = SMA(20) @ col('close')
)

df

SeriesSeries
Series
struct ...

shape: (11_056, 9)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ date      ┆ open      ┆ high      ┆ low       ┆ … ┆ volume    ┆ sma       ┆ macd      ┆ atr      │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ datetime[ ┆ f64       ┆ f64       ┆ f64       ┆   ┆ i64       ┆ f64       ┆ struct[3] ┆ f64      │
│ ns]       ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1980-12-1 ┆ 0.098943  ┆ 0.099373  ┆ 0.098943  ┆ … ┆ 469033600 ┆ NaN       ┆ {NaN,NaN, ┆ NaN      │
│ 2         ┆           ┆           ┆           ┆   ┆           ┆           ┆ NaN}      ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1980-12-1 ┆ 0.094211  ┆ 0.094211  ┆ 0.093781  ┆ … ┆ 175884800 ┆ NaN       ┆ {NaN,NaN, ┆ NaN      │
│ 5         ┆           ┆           ┆           ┆   ┆           ┆           ┆ NaN}      ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1980-12-1 ┆ 0.087328  ┆ 0.087328  ┆ 0.086898  ┆ … ┆ 105728000 ┆ NaN       ┆ {NaN,NaN, ┆ NaN      │
│ 6         ┆           ┆           ┆           ┆   ┆           ┆           ┆ NaN}      ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1980-12-1 ┆ 0.089049  ┆ 0.089479  ┆ 0.089049  ┆ … ┆ 86441600  ┆ NaN       ┆ {NaN,NaN, ┆ NaN      │
│ 7         ┆           ┆           ┆           ┆   ┆           ┆           ┆ NaN}      ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ 1980-12-1 ┆ 0.09163   ┆ 0.092061  ┆ 0.09163   ┆ … ┆ 73449600  ┆ NaN       ┆ {NaN,NaN, ┆ NaN      │
│ 8         ┆           ┆           ┆           ┆   ┆           ┆           ┆ NaN}      ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆          │
│ …         ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …        │
│ 2024-10-1 ┆ 233.61000 ┆ 237.49000 ┆ 232.36999 ┆ … ┆ 64751400  ┆ 227.524   ┆ {1.815958 ┆ 4.516121 │
│ 5         ┆ 1         ┆ 5         ┆ 5         ┆   ┆           ┆           ┆ ,1.313965 ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆ ,0.501993 ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ }         ┆          │
│ 2024-10-1 ┆ 231.60000 ┆ 232.11999 ┆ 229.83999 ┆ … ┆ 34082200  ┆ 228.0785  ┆ {1.941114 ┆ 4.479971 │
│ 6         ┆ 6         ┆ 5         ┆ 6         ┆   ┆           ┆           ┆ ,1.439395 ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆ ,0.501719 ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ }         ┆          │
│ 2024-10-1 ┆ 233.42999 ┆ 233.85000 ┆ 230.52000 ┆ … ┆ 32993800  ┆ 228.2425  ┆ {2.046565 ┆ 4.39783  │
│ 7         ┆ 3         ┆ 6         ┆ 4         ┆   ┆           ┆           ┆ ,1.560829 ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆ ,0.485736 ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ }         ┆          │
│ 2024-10-1 ┆ 236.17999 ┆ 236.17999 ┆ 234.00999 ┆ … ┆ 46431500  ┆ 228.5825  ┆ {2.333211 ┆ 4.371556 │
│ 8         ┆ 3         ┆ 3         ┆ 5         ┆   ┆           ┆           ┆ ,1.715305 ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆ ,0.617906 ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ }         ┆          │
│ 2024-10-2 ┆ 234.44999 ┆ 236.85000 ┆ 234.44999 ┆ … ┆ 36220800  ┆ 229.08299 ┆ {2.649265 ┆ 4.230731 │
│ 1         ┆ 7         ┆ 6         ┆ 7         ┆   ┆           ┆ 9         ┆ ,1.902097 ┆          │
│ 00:00:00  ┆           ┆           ┆           ┆   ┆           ┆           ┆ ,0.747168 ┆          │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆ }         ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

In [138]:
df.dtypes

[Datetime(time_unit='ns', time_zone=None),
 Float64,
 Float64,
 Float64,
 Float64,
 Int64,
 Float64,
 Struct({'macd': Float64, 'macdsignal': Float64, 'macdhist': Float64}),
 Float64]

In [139]:
sma = calc_sma(prices['close'], 20, wrap=True)
sma

shape: (11_056,)
Series: '' [f64]
[
	NaN
	NaN
	NaN
	NaN
	NaN
	…
	227.524
	228.0785
	228.2425
	228.5825
	229.082999
]

In [140]:
pl.Series(values=sma, name=None)

shape: (11_056,)
Series: '' [f64]
[
	NaN
	NaN
	NaN
	NaN
	NaN
	…
	227.524
	228.0785
	228.2425
	228.5825
	229.082999
]

In [141]:
MACD() @ prices

shape: (11_056, 3)
┌──────────┬────────────┬──────────┐
│ macd     ┆ macdsignal ┆ macdhist │
│ ---      ┆ ---        ┆ ---      │
│ f64      ┆ f64        ┆ f64      │
╞══════════╪════════════╪══════════╡
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ …        ┆ …          ┆ …        │
│ 1.815958 ┆ 1.313965   ┆ 0.501993 │
│ 1.941114 ┆ 1.439395   ┆ 0.501719 │
│ 2.046565 ┆ 1.560829   ┆ 0.485736 │
│ 2.333211 ┆ 1.715305   ┆ 0.617906 │
│ 2.649265 ┆ 1.902097   ┆ 0.747168 │
└──────────┴────────────┴──────────┘

In [142]:
ATR() @ prices

shape: (11_056,)
Series: '' [f64]
[
	NaN
	NaN
	NaN
	NaN
	NaN
	…
	4.516121
	4.479971
	4.39783
	4.371556
	4.230731
]

In [143]:
SMA(20) @ prices['close']

shape: (11_056,)
Series: '' [f64]
[
	NaN
	NaN
	NaN
	NaN
	NaN
	…
	227.524
	228.0785
	228.2425
	228.5825
	229.082999
]

In [144]:
prices.select(
    pl.col('open', 'close').map_batches(my_sma)
)

SeriesSeries

shape: (11_056, 2)
┌────────────┬────────────┐
│ open       ┆ close      │
│ ---        ┆ ---        │
│ f64        ┆ f64        │
╞════════════╪════════════╡
│ NaN        ┆ NaN        │
│ NaN        ┆ NaN        │
│ NaN        ┆ NaN        │
│ NaN        ┆ NaN        │
│ NaN        ┆ NaN        │
│ …          ┆ …          │
│ 227.055    ┆ 227.524    │
│ 227.7575   ┆ 228.0785   │
│ 228.179499 ┆ 228.2425   │
│ 228.489999 ┆ 228.5825   │
│ 228.845499 ┆ 229.082999 │
└────────────┴────────────┘

In [145]:
prices.select(
    pl.col(['open', 'close']).map_batches(my_sma)
)

SeriesSeries

shape: (11_056, 2)
┌────────────┬────────────┐
│ open       ┆ close      │
│ ---        ┆ ---        │
│ f64        ┆ f64        │
╞════════════╪════════════╡
│ NaN        ┆ NaN        │
│ NaN        ┆ NaN        │
│ NaN        ┆ NaN        │
│ NaN        ┆ NaN        │
│ NaN        ┆ NaN        │
│ …          ┆ …          │
│ 227.055    ┆ 227.524    │
│ 227.7575   ┆ 228.0785   │
│ 228.179499 ┆ 228.2425   │
│ 228.489999 ┆ 228.5825   │
│ 228.845499 ┆ 229.082999 │
└────────────┴────────────┘

In [146]:
prices.select(
    pl.col('close').map_batches(my_macd, macd_type).struct.unnest()
)

SeriesSeries

Series

shape: (11_056, 3)
┌──────────┬────────────┬──────────┐
│ macd     ┆ macdsignal ┆ macdhist │
│ ---      ┆ ---        ┆ ---      │
│ f64      ┆ f64        ┆ f64      │
╞══════════╪════════════╪══════════╡
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ NaN      ┆ NaN        ┆ NaN      │
│ …        ┆ …          ┆ …        │
│ 1.815958 ┆ 1.313965   ┆ 0.501993 │
│ 1.941114 ┆ 1.439395   ┆ 0.501719 │
│ 2.046565 ┆ 1.560829   ┆ 0.485736 │
│ 2.333211 ┆ 1.715305   ┆ 0.617906 │
│ 2.649265 ┆ 1.902097   ┆ 0.747168 │
└──────────┴────────────┴──────────┘

In [147]:
df.select(
    pl.col('macd').struct[0]
)

shape: (11_056, 1)
┌──────────┐
│ macd     │
│ ---      │
│ f64      │
╞══════════╡
│ NaN      │
│ NaN      │
│ NaN      │
│ NaN      │
│ NaN      │
│ …        │
│ 1.815958 │
│ 1.941114 │
│ 2.046565 │
│ 2.333211 │
│ 2.649265 │
└──────────┘

In [151]:
prices.select(pl.struct("*").alias("dohlcv"))

shape: (11_056, 1)
┌─────────────────────────────────┐
│ dohlcv                          │
│ ---                             │
│ struct[6]                       │
╞═════════════════════════════════╡
│ {1980-12-12 00:00:00,0.098943,… │
│ {1980-12-15 00:00:00,0.094211,… │
│ {1980-12-16 00:00:00,0.087328,… │
│ {1980-12-17 00:00:00,0.089049,… │
│ {1980-12-18 00:00:00,0.09163,0… │
│ …                               │
│ {2024-10-15 00:00:00,233.61000… │
│ {2024-10-16 00:00:00,231.60000… │
│ {2024-10-17 00:00:00,233.42999… │
│ {2024-10-18 00:00:00,236.17999… │
│ {2024-10-21 00:00:00,234.44999… │
└─────────────────────────────────┘