In [1]:
from mintalib.samples import sample_prices, FREQUENCIES

In [2]:
for freq in FREQUENCIES:
    prices = sample_prices(freq=freq, max_bars=5000)
    print(freq, len(prices))

daily 5000
hourly 3491
minute 1949

In [3]:
for freq in FREQUENCIES:
    prices = sample_prices(freq=freq, max_bars=5000)
    print("***", freq, "***")
    prices.info()
    print()

*** daily ***
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000 entries, 2004-12-09 to 2024-10-21
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    5000 non-null   float64
 1   high    5000 non-null   float64
 2   low     5000 non-null   float64
 3   close   5000 non-null   float64
 4   volume  5000 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 234.4 KB

*** hourly ***
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3491 entries, 2022-10-24 09:30:00-04:00 to 2024-10-21 15:30:00-04:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    3491 non-null   float64
 1   high    3491 non-null   float64
 2   low     3491 non-null   float64
 3   close   3491 non-null   float64
 4   volume  3491 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 163.6 KB

*** minute ***
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1949 entries, 2024-10-15 09:30:00-04:00 to 2024-10-21 15:59:00-04:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    1949 non-null   float64
 1   high    1949 non-null   float64
 2   low     1949 non-null   float64
 3   close   1949 non-null   float64
 4   volume  1949 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 91.4 KB

In [16]:
prices.to_dict("series")
prices.__module__.partition('.')[0]

'pandas'

In [10]:
import polars as pl
plprices = pl.DataFrame(dict(prices))
plprices

shape: (1_949, 5)
┌────────────┬────────────┬────────────┬────────────┬─────────┐
│ open       ┆ high       ┆ low        ┆ close      ┆ volume  │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---     │
│ f64        ┆ f64        ┆ f64        ┆ f64        ┆ i64     │
╞════════════╪════════════╪════════════╪════════════╪═════════╡
│ 233.589996 ┆ 233.699997 ┆ 232.520004 ┆ 232.799896 ┆ 2630746 │
│ 232.799805 ┆ 233.25     ┆ 232.369995 ┆ 233.190002 ┆ 320427  │
│ 233.190002 ┆ 233.690002 ┆ 232.899994 ┆ 233.600006 ┆ 339762  │
│ 233.579895 ┆ 234.25     ┆ 233.5      ┆ 234.160004 ┆ 714251  │
│ 234.169998 ┆ 234.399994 ┆ 233.610001 ┆ 234.032303 ┆ 348872  │
│ …          ┆ …          ┆ …          ┆ …          ┆ …       │
│ 235.940002 ┆ 236.199997 ┆ 235.929993 ┆ 236.093506 ┆ 129810  │
│ 236.100006 ┆ 236.210007 ┆ 236.059998 ┆ 236.149994 ┆ 152244  │
│ 236.139999 ┆ 236.179993 ┆ 236.100006 ┆ 236.169998 ┆ 120719  │
│ 236.175003 ┆ 236.409897 ┆ 236.175003 ┆ 236.389999 ┆ 477956  │
│ 236.369995 ┆ 236.580002 ┆ 236.240005 ┆ 236.580002 ┆ 599398  │
└────────────┴────────────┴────────────┴────────────┴─────────┘

In [11]:
dict(plprices)

ValueError: dictionary update sequence element #0 has length 1949; 2 is required

In [12]:
plprices.to_dict()

{'open': shape: (1_949,)
 Series: 'open' [f64]
 [
 	233.589996
 	232.799805
 	233.190002
 	233.579895
 	234.169998
 	…
 	235.940002
 	236.100006
 	236.139999
 	236.175003
 	236.369995
 ],
 'high': shape: (1_949,)
 Series: 'high' [f64]
 [
 	233.699997
 	233.25
 	233.690002
 	234.25
 	234.399994
 	…
 	236.199997
 	236.210007
 	236.179993
 	236.409897
 	236.580002
 ],
 'low': shape: (1_949,)
 Series: 'low' [f64]
 [
 	232.520004
 	232.369995
 	232.899994
 	233.5
 	233.610001
 	…
 	235.929993
 	236.059998
 	236.100006
 	236.175003
 	236.240005
 ],
 'close': shape: (1_949,)
 Series: 'close' [f64]
 [
 	232.799896
 	233.190002
 	233.600006
 	234.160004
 	234.032303
 	…
 	236.093506
 	236.149994
 	236.169998
 	236.389999
 	236.580002
 ],
 'volume': shape: (1_949,)
 Series: 'volume' [i64]
 [
 	2630746
 	320427
 	339762
 	714251
 	348872
 	…
 	129810
 	152244
 	120719
 	477956
 	599398
 ]}

In [18]:
d = dict()
d.update(prices)