In [42]:
import numpy as np

from mintalib import core
from mintalib import reflib

from mintalib.samples import sample_prices

In [43]:
prices = sample_prices()
prices = prices.assign(
    roc = prices.close.pct_change()
)
prices

,open,high,low,close,volume,roc
date,,,,,,
1980-12-12,0.098943,0.099373,0.098943,0.098943,469033600,NaN
1980-12-15,0.094211,0.094211,0.093781,0.093781,175884800,-0.052171
1980-12-16,0.087328,0.087328,0.086898,0.086898,105728000,-0.073398
1980-12-17,0.089049,0.089479,0.089049,0.089049,86441600,0.024751
1980-12-18,0.091630,0.092061,0.091630,0.091630,73449600,0.028993
...,...,...,...,...,...,...
2024-10-15,233.610001,237.490005,232.369995,233.850006,64751400,0.011025
2024-10-16,231.600006,232.119995,229.839996,231.779999,34082200,-0.008852
2024-10-17,233.429993,233.850006,230.520004,232.149994,32993800,0.001596
2024-10-18,236.179993,236.179993,234.009995,235.000000,46431500,0.012277
2024-10-21,234.449997,236.850006,234.449997,236.479996,36220800,0.006298

In [44]:
period = 20

In [45]:
res = core.calc_sma(prices.roc, period)
res

array([       nan,        nan,        nan, ..., 0.0007917 , 0.0015519 ,
       0.00224585])

In [46]:
exp = reflib.calc_sma(prices.roc, period)
exp

date
1980-12-12         NaN
1980-12-15         NaN
1980-12-16         NaN
1980-12-17         NaN
1980-12-18         NaN
                ...
2024-10-15    0.003907
2024-10-16    0.002565
2024-10-17    0.000792
2024-10-18    0.001552
2024-10-21    0.002246
Name: roc, Length: 11056, dtype: float64

In [47]:
assert np.allclose(res, exp, equal_nan=True)

In [48]:
%timeit -n10 core.calc_sma(series, period)
%timeit -n10 reflib.calc_sma(series, period)

239 µs ± 14.5 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
239 µs ± 61.4 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)