# Using mintalib functions

In [1]:
from mintalib.functions import EMA, SMA, TRANGE, MACD
from mintalib.samples import sample_prices

In [2]:
prices = sample_prices()
prices

                  open        high         low       close     volume
date
1980-12-12    0.098943    0.099373    0.098943    0.098943  469033600
1980-12-15    0.094211    0.094211    0.093781    0.093781  175884800
1980-12-16    0.087328    0.087328    0.086898    0.086898  105728000
1980-12-17    0.089049    0.089479    0.089049    0.089049   86441600
1980-12-18    0.091630    0.092061    0.091630    0.091630   73449600
...                ...         ...         ...         ...        ...
2024-09-12  222.500000  223.550003  219.820007  222.770004   37498200
2024-09-13  223.580002  224.039993  221.910004  222.500000   36766600
2024-09-16  216.539993  217.220001  213.919998  216.320007   59357400
2024-09-17  215.750000  216.899994  214.500000  216.789993   45519300
2024-09-18  217.550003  222.710007  217.539993  220.690002   59788400

[11033 rows x 5 columns]

In [3]:
res = MACD(prices)
res

                macd  macdsignal  macdhist
date
1980-12-12       NaN         NaN       NaN
1980-12-15       NaN         NaN       NaN
1980-12-16       NaN         NaN       NaN
1980-12-17       NaN         NaN       NaN
1980-12-18       NaN         NaN       NaN
...              ...         ...       ...
2024-09-12  0.335167    1.020443 -0.685276
2024-09-13  0.279937    0.872342 -0.592404
2024-09-16 -0.259515    0.645970 -0.905485
2024-09-17 -0.641714    0.388433 -1.030147
2024-09-18 -0.622733    0.186200 -0.808933

[11033 rows x 3 columns]

In [4]:
res = TRANGE(prices)
res

date
1980-12-12         NaN
1980-12-15    0.005162
1980-12-16    0.006883
1980-12-17    0.002581
1980-12-18    0.003012
                ...
2024-09-12    3.729996
2024-09-13    2.129990
2024-09-16    8.580002
2024-09-17    2.399994
2024-09-18    5.920013
Length: 11033, dtype: float64

In [5]:
res = SMA(prices, 20, item="volume")
res

date
1980-12-12           NaN
1980-12-15           NaN
1980-12-16           NaN
1980-12-17           NaN
1980-12-18           NaN
                 ...
2024-09-12    43414535.0
2024-09-13    42932165.0
2024-09-16    43683025.0
2024-09-17    43924600.0
2024-09-18    45399070.0
Length: 11033, dtype: float64