# Using mintalib functions

In [6]:
import matplotlib as mpl

import mintalib.functions as ta

from mintalib.samples import sample_prices

mpl.rc("figure", figsize=(12, 9))

In [2]:
prices = sample_prices()
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11056 entries, 1980-12-12 to 2024-10-21
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    11056 non-null  float64
 1   high    11056 non-null  float64
 2   low     11056 non-null  float64
 3   close   11056 non-null  float64
 4   volume  11056 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 518.2 KB

In [3]:
res = ta.macd(prices)
res

                macd  macdsignal  macdhist
date
1980-12-12       NaN         NaN       NaN
1980-12-15       NaN         NaN       NaN
1980-12-16       NaN         NaN       NaN
1980-12-17       NaN         NaN       NaN
1980-12-18       NaN         NaN       NaN
...              ...         ...       ...
2024-10-15  1.815958    1.313965  0.501993
2024-10-16  1.941114    1.439395  0.501719
2024-10-17  2.046565    1.560829  0.485736
2024-10-18  2.333211    1.715305  0.617906
2024-10-21  2.649265    1.902097  0.747168

[11056 rows x 3 columns]

In [4]:
res = ta.trange(prices)
res

date
1980-12-12    0.000430
1980-12-15    0.005162
1980-12-16    0.006883
1980-12-17    0.002581
1980-12-18    0.003012
                ...
2024-10-15    6.190002
2024-10-16    4.010010
2024-10-17    3.330002
2024-10-18    4.029999
2024-10-21    2.400009
Length: 11056, dtype: float64

In [5]:
res = ta.sma(prices, 20, item="volume")
res

date
1980-12-12           NaN
1980-12-15           NaN
1980-12-16           NaN
1980-12-17           NaN
1980-12-18           NaN
                 ...
2024-10-15    57377740.0
2024-10-16    56087105.0
2024-10-17    54397730.0
2024-10-18    40785310.0
2024-10-21    39889050.0
Length: 11056, dtype: float64