# Using mintalib functions

In [2]:
from mintalib.functions import EMA, SMA, TRANGE, MACD
from mintalib.samples import sample_prices

In [3]:
prices = sample_prices()
prices.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 11033 entries, 1980-12-12 to 2024-09-18
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    11033 non-null  float64
 1   high    11033 non-null  float64
 2   low     11033 non-null  float64
 3   close   11033 non-null  float64
 4   volume  11033 non-null  int64
dtypes: float64(4), int64(1)
memory usage: 517.2 KB

In [4]:
res = MACD(prices)
res

                macd  macdsignal  macdhist
date
1980-12-12       NaN         NaN       NaN
1980-12-15       NaN         NaN       NaN
1980-12-16       NaN         NaN       NaN
1980-12-17       NaN         NaN       NaN
1980-12-18       NaN         NaN       NaN
...              ...         ...       ...
2024-09-12  0.335167    1.020443 -0.685276
2024-09-13  0.279937    0.872342 -0.592404
2024-09-16 -0.259515    0.645970 -0.905485
2024-09-17 -0.641714    0.388433 -1.030147
2024-09-18 -0.622733    0.186200 -0.808933

[11033 rows x 3 columns]

In [5]:
res = TRANGE(prices)
res

date
1980-12-12         NaN
1980-12-15    0.005162
1980-12-16    0.006883
1980-12-17    0.002581
1980-12-18    0.003012
                ...
2024-09-12    3.729996
2024-09-13    2.129990
2024-09-16    8.580002
2024-09-17    2.399994
2024-09-18    5.920013
Length: 11033, dtype: float64

In [6]:
res = SMA(prices, 20, item="volume")
res

date
1980-12-12           NaN
1980-12-15           NaN
1980-12-16           NaN
1980-12-17           NaN
1980-12-18           NaN
                 ...
2024-09-12    43414535.0
2024-09-13    42932165.0
2024-09-16    43683025.0
2024-09-17    43924600.0
2024-09-18    45399070.0
Length: 11033, dtype: float64