# Using functions

In [7]:
import mintalib.functions as ta

In [8]:
from mintalib.samples import sample_prices

prices = sample_prices()
prices

                  open        high         low       close     volume
date
1980-12-12    0.098943    0.099373    0.098943    0.098943  469033600
1980-12-15    0.094211    0.094211    0.093781    0.093781  175884800
1980-12-16    0.087328    0.087328    0.086898    0.086898  105728000
1980-12-17    0.089049    0.089479    0.089049    0.089049   86441600
1980-12-18    0.091630    0.092061    0.091630    0.091630   73449600
...                ...         ...         ...         ...        ...
2024-10-15  233.610001  237.490005  232.369995  233.850006   64751400
2024-10-16  231.600006  232.119995  229.839996  231.779999   34082200
2024-10-17  233.429993  233.850006  230.520004  232.149994   32993800
2024-10-18  236.179993  236.179993  234.009995  235.000000   46431500
2024-10-21  234.449997  236.850006  234.449997  236.479996   36220800

[11056 rows x 5 columns]

In [9]:
ta.sma(prices, period=20)

date
1980-12-12           NaN
1980-12-15           NaN
1980-12-16           NaN
1980-12-17           NaN
1980-12-18           NaN
                 ...
2024-10-15    227.524000
2024-10-16    228.078500
2024-10-17    228.242500
2024-10-18    228.582500
2024-10-21    229.082999
Length: 11056, dtype: float64

In [10]:
ta.macd(prices, 12, 26, 9)

                macd  macdsignal  macdhist
date
1980-12-12       NaN         NaN       NaN
1980-12-15       NaN         NaN       NaN
1980-12-16       NaN         NaN       NaN
1980-12-17       NaN         NaN       NaN
1980-12-18       NaN         NaN       NaN
...              ...         ...       ...
2024-10-15  1.815958    1.313965  0.501993
2024-10-16  1.941114    1.439395  0.501719
2024-10-17  2.046565    1.560829  0.485736
2024-10-18  2.333211    1.715305  0.617906
2024-10-21  2.649265    1.902097  0.747168

[11056 rows x 3 columns]

In [11]:
ta.atr(prices, 14)

date
1980-12-12         NaN
1980-12-15         NaN
1980-12-16         NaN
1980-12-17         NaN
1980-12-18         NaN
                ...
2024-10-15    4.516121
2024-10-16    4.479971
2024-10-17    4.397830
2024-10-18    4.371556
2024-10-21    4.230731
Length: 11056, dtype: float64