In [5]:
import numpy as np
import pandas as pd

import yfinance as yf

In [6]:
prices = yf.Ticker('AAPL').history('5y')
prices = prices.rename(columns=str.lower).rename_axis(index=str.lower)
prices

,open,high,low,close,volume,dividends,stock splits
date,,,,,,,
2020-01-09 00:00:00-05:00,74.465965,75.239128,74.213905,75.045235,170108400,0.0,0.0
2020-01-10 00:00:00-05:00,75.280311,75.782020,74.710739,75.214867,140644800,0.0,0.0
2020-01-13 00:00:00-05:00,75.532379,76.848450,75.413612,76.821785,121532000,0.0,0.0
2020-01-14 00:00:00-05:00,76.758774,76.969635,75.660835,75.784439,161954400,0.0,0.0
2020-01-15 00:00:00-05:00,75.583313,76.467965,75.025856,75.459702,121923600,0.0,0.0
...,...,...,...,...,...,...,...
2025-01-02 00:00:00-05:00,248.929993,249.100006,241.820007,243.850006,55740700,0.0,0.0
2025-01-03 00:00:00-05:00,243.360001,244.179993,241.889999,243.360001,40244100,0.0,0.0
2025-01-06 00:00:00-05:00,244.309998,247.330002,243.199997,245.000000,45045600,0.0,0.0
2025-01-07 00:00:00-05:00,242.979996,245.550003,241.350006,242.210007,40856000,0.0,0.0
2025-01-08 00:00:00-05:00,241.970001,243.712296,240.050003,242.699997,36473385,0.0,0.0

In [7]:
np.asarray(prices['close'], dtype=None)

array([ 75.04523468,  75.21486664,  76.82178497, ..., 245.        ,
       242.21000671, 242.69999695])

In [8]:
from mintalib.indicators import EMA, SMA, ROC, RSI, EVAL, LOG

# compute and append indicators to prices
result = prices.assign(
    sma50 = SMA(50),
    sma200 = SMA(200),
    rsi = RSI(14),
    slope = ROC(1) @ EMA(20) @ LOG(),
    uptrend = EVAL("sma50 > sma200")
)

result

,open,high,low,close,volume,dividends,stock splits,sma50,sma200,rsi,slope,uptrend
date,,,,,,,,,,,,
2020-01-09 00:00:00-05:00,74.465965,75.239128,74.213905,75.045235,170108400,0.0,0.0,NaN,NaN,NaN,NaN,False
2020-01-10 00:00:00-05:00,75.280311,75.782020,74.710739,75.214867,140644800,0.0,0.0,NaN,NaN,NaN,NaN,False
2020-01-13 00:00:00-05:00,75.532379,76.848450,75.413612,76.821785,121532000,0.0,0.0,NaN,NaN,NaN,NaN,False
2020-01-14 00:00:00-05:00,76.758774,76.969635,75.660835,75.784439,161954400,0.0,0.0,NaN,NaN,NaN,NaN,False
2020-01-15 00:00:00-05:00,75.583313,76.467965,75.025856,75.459702,121923600,0.0,0.0,NaN,NaN,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2025-01-02 00:00:00-05:00,248.929993,249.100006,241.820007,243.850006,55740700,0.0,0.0,237.685114,213.417231,46.049064,-0.000355,True
2025-01-03 00:00:00-05:00,243.360001,244.179993,241.889999,243.360001,40244100,0.0,0.0,237.840298,213.756805,45.363794,-0.000356,True
2025-01-06 00:00:00-05:00,244.309998,247.330002,243.199997,245.000000,45045600,0.0,0.0,238.130170,214.091676,48.145154,-0.000206,True
2025-01-07 00:00:00-05:00,242.979996,245.550003,241.350006,242.210007,40856000,0.0,0.0,238.368038,214.448965,44.037936,-0.000385,True
2025-01-08 00:00:00-05:00,241.970001,243.712296,240.050003,242.699997,36473385,0.0,0.0,238.598924,214.804171,44.926537,-0.000313,True