# Pandas example with MACD

In [2]:
from mintalib.samples import sample_prices
from mintalib.indicators import MACD

In [3]:
prices = sample_prices()

macd = MACD() @ prices
macd

                macd  macdsignal  macdhist
date
1980-12-12       NaN         NaN       NaN
1980-12-15       NaN         NaN       NaN
1980-12-16       NaN         NaN       NaN
1980-12-17       NaN         NaN       NaN
1980-12-18       NaN         NaN       NaN
...              ...         ...       ...
2024-10-15  1.815958    1.313965  0.501993
2024-10-16  1.941114    1.439395  0.501719
2024-10-17  2.046565    1.560829  0.485736
2024-10-18  2.333211    1.715305  0.617906
2024-10-21  2.649265    1.902097  0.747168

[11056 rows x 3 columns]