In [1]:
import fsdata

from barcalc.samples import sample_prices

import barcalc.pandas # noqa: F401

In [2]:
prices = sample_prices()
prices

                  open        high         low       close     volume
date
1980-12-12    0.099058    0.099488    0.099058    0.099058  469033600
1980-12-15    0.094320    0.094320    0.093890    0.093890  175884800
1980-12-16    0.087429    0.087429    0.086999    0.086999  105728000
1980-12-17    0.089152    0.089582    0.089152    0.089152   86441600
1980-12-18    0.091737    0.092167    0.091737    0.091737   73449600
...                ...         ...         ...         ...        ...
2024-08-05  199.089996  213.500000  196.000000  209.270004  119548600
2024-08-06  205.300003  209.990005  201.070007  207.229996   69660500
2024-08-07  206.899994  213.639999  206.389999  209.820007   63516400
2024-08-08  213.110001  214.199997  208.830002  213.309998   47161100
2024-08-09  212.100006  216.779999  211.970001  216.240005   42171700

[11006 rows x 5 columns]

In [3]:
DATASET = "SP500-daily"
dataset = fsdata.load("datasets", DATASET)
dataset

                     open     high       low   close    volume
ticker date
ABNB   2020-12-10  146.00  165.000  141.2500  144.71  70447537
       2020-12-11  146.55  151.500  135.1000  139.25  26980830
       2020-12-14  135.00  135.300  125.1601  130.00  16966089
       2020-12-15  126.69  127.600  121.5000  124.80  10914432
       2020-12-16  125.83  142.000  124.9100  137.99  20409551
...                   ...      ...       ...     ...       ...
ZBRA   2025-07-16  321.21  321.210  312.6900  319.47    297952
       2025-07-17  320.55  331.295  320.5500  329.90    393394
       2025-07-18  331.70  332.675  328.6001  331.73    426632
       2025-07-21  332.16  334.000  328.2700  328.38    371863
       2025-07-22  328.10  330.150  324.4600  328.10    434760

[2261523 rows x 5 columns]

In [4]:
prices = sample_prices()
prices

                  open        high         low       close     volume
date
1980-12-12    0.099058    0.099488    0.099058    0.099058  469033600
1980-12-15    0.094320    0.094320    0.093890    0.093890  175884800
1980-12-16    0.087429    0.087429    0.086999    0.086999  105728000
1980-12-17    0.089152    0.089582    0.089152    0.089152   86441600
1980-12-18    0.091737    0.092167    0.091737    0.091737   73449600
...                ...         ...         ...         ...        ...
2024-08-05  199.089996  213.500000  196.000000  209.270004  119548600
2024-08-06  205.300003  209.990005  201.070007  207.229996   69660500
2024-08-07  206.899994  213.639999  206.389999  209.820007   63516400
2024-08-08  213.110001  214.199997  208.830002  213.309998   47161100
2024-08-09  212.100006  216.779999  211.970001  216.240005   42171700

[11006 rows x 5 columns]

In [5]:
prices.close.calc.ema(20)

date
1980-12-12           NaN
1980-12-15           NaN
1980-12-16           NaN
1980-12-17           NaN
1980-12-18           NaN
                 ...
2024-08-05    219.648137
2024-08-06    218.465457
2024-08-07    217.642081
2024-08-08    217.229501
2024-08-09    217.135264
Length: 11006, dtype: float64

In [6]:
prices.calc.atr()

date
1980-12-12         NaN
1980-12-15         NaN
1980-12-16         NaN
1980-12-17         NaN
1980-12-18         NaN
                ...
2024-08-05    6.739317
2024-08-06    6.895080
2024-08-07    6.920431
2024-08-08    6.809686
2024-08-09    6.666851
Length: 11006, dtype: float64