In [9]:
from mintalib.samples import sample_prices

In [10]:
sample_prices()

                  open        high         low       close     volume
date
1980-12-12    0.098943    0.099373    0.098943    0.098943  469033600
1980-12-15    0.094211    0.094211    0.093781    0.093781  175884800
1980-12-16    0.087328    0.087328    0.086898    0.086898  105728000
1980-12-17    0.089049    0.089479    0.089049    0.089049   86441600
1980-12-18    0.091630    0.092061    0.091630    0.091630   73449600
...                ...         ...         ...         ...        ...
2024-10-15  233.610001  237.490005  232.369995  233.850006   64751400
2024-10-16  231.600006  232.119995  229.839996  231.779999   34082200
2024-10-17  233.429993  233.850006  230.520004  232.149994   32993800
2024-10-18  236.179993  236.179993  234.009995  235.000000   46431500
2024-10-21  234.449997  236.850006  234.449997  236.479996   36220800

[11056 rows x 5 columns]

In [11]:
sample_prices(backend="polars")

shape: (11_056, 6)
┌─────────────────────┬────────────┬────────────┬────────────┬────────────┬───────────┐
│ date                ┆ open       ┆ high       ┆ low        ┆ close      ┆ volume    │
│ ---                 ┆ ---        ┆ ---        ┆ ---        ┆ ---        ┆ ---       │
│ datetime[ns]        ┆ f64        ┆ f64        ┆ f64        ┆ f64        ┆ i64       │
╞═════════════════════╪════════════╪════════════╪════════════╪════════════╪═══════════╡
│ 1980-12-12 00:00:00 ┆ 0.098943   ┆ 0.099373   ┆ 0.098943   ┆ 0.098943   ┆ 469033600 │
│ 1980-12-15 00:00:00 ┆ 0.094211   ┆ 0.094211   ┆ 0.093781   ┆ 0.093781   ┆ 175884800 │
│ 1980-12-16 00:00:00 ┆ 0.087328   ┆ 0.087328   ┆ 0.086898   ┆ 0.086898   ┆ 105728000 │
│ 1980-12-17 00:00:00 ┆ 0.089049   ┆ 0.089479   ┆ 0.089049   ┆ 0.089049   ┆ 86441600  │
│ 1980-12-18 00:00:00 ┆ 0.09163    ┆ 0.092061   ┆ 0.09163    ┆ 0.09163    ┆ 73449600  │
│ …                   ┆ …          ┆ …          ┆ …          ┆ …          ┆ …         │
│ 2024-10-15 00:00:00 ┆ 233.610001 ┆ 237.490005 ┆ 232.369995 ┆ 233.850006 ┆ 64751400  │
│ 2024-10-16 00:00:00 ┆ 231.600006 ┆ 232.119995 ┆ 229.839996 ┆ 231.779999 ┆ 34082200  │
│ 2024-10-17 00:00:00 ┆ 233.429993 ┆ 233.850006 ┆ 230.520004 ┆ 232.149994 ┆ 32993800  │
│ 2024-10-18 00:00:00 ┆ 236.179993 ┆ 236.179993 ┆ 234.009995 ┆ 235.0      ┆ 46431500  │
│ 2024-10-21 00:00:00 ┆ 234.449997 ┆ 236.850006 ┆ 234.449997 ┆ 236.479996 ┆ 36220800  │
└─────────────────────┴────────────┴────────────┴────────────┴────────────┴───────────┘